footer{   /*pied de page */
    position: relative ;
    width: 100%;
    height: auto;
    background-color: rgb(77, 72, 52);
}

.footer_text{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 25px;    
}

.footer_text--making{
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

.footer_text--contact{
    display: flex;
    flex-direction: column;
}

.logo_lien{
    text-decoration: none;
    color: white;
}

.footer_text--qst{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    margin-right: 7%;
}

.footer_text--qst a{
    color: white;
}

.footer_text--qst a:hover{
    text-decoration: none;
}