.content{
    position: relative;
    min-height: 100%;
    margin-bottom: 5%;
}


.content_text{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%; 
    text-align: center;
    
}



.pictures{
    height: 175px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    align-items: center;
    
}

.modif{
    height: 185px;
}
 
.modif2{
    height:130px;
}

.modif3{
    height: 175px;
}


h2{
    text-align: center;
    font-weight: bolder;
}

.cadre{
    margin: 60px 15% 60px 15%;
    border: solid black 3px;
    padding-bottom: 10px;
    min-width: 199px;
}

.link_list{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family:'Andika New Basic', sans-serif;
}

.link_list:hover{
    text-decoration: underline;
    

}

i{
    margin-left: 5px;
    
}
.link_list{
    padding-left:10%;
    padding-right:10%;
    
}

.content_list{
    list-style-type: none;
}
