.content{
    margin: 50px 30px;
}

p{
    font-size:25px;
}
.warning{
    color: red; 
    font-weight: bold;
}

#clignote{
    animation: clignotant 1s infinite; 
}

@keyframes clignotant{
    0%{opacity: 1;}
    12.5%{opacity: 0.75;}
    25%{opacity: 0.5;}
    37.5%{opacity: 0.25;}
    50%{opacity: 0;}
    62.5%{opacity: 0.25;}
    75%{opacity: 0.5;}
    87.5%{opacity: 0.75;}
    100%{opacity: 1;}
}

img{
    border:2px solid black
}

.rufus{
    width : 500px;
}

.bios{
    width: 600px;
    height: 500px;
}

.ubu{
    width: 600px;
    height: 500px;
}

.content_button{
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.button{
    background-color:  rgb(77,72,52);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}

.button_no{
    background-color:  rgb(138, 136, 125);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}