.content{
    margin: 50px 30px;
}

p{
    font-size:25px;
}

.warning{
    font-weight: bold;
    color: red;
}

#clignote{
    animation: clignotant 1s infinite;
}

@keyframes clignotant{
    0%{opacity: 1;}
    12.5%{opacity: 0.75;}
    25%{opacity: 0.5;}
    37.5%{opacity: 0.25;}
    50%{opacity: 0;}
    62.5%{opacity: 0.25;}
    75%{opacity: 0.5;}
    87.5%{opacity: 0.75;}
    100%{opacity: 1;}
}


.h1{
    text-decoration: underline;
}

.site_microsoft{
    width: 800px;
}

img{
    border: solid black 2px;
}

.installation{
    width : 700px;
    height: 500px; 
}

.choix{
    justify-content: left;
}

.bios{
    width: 600px;
    height: 500px;
}

.ps{
    font-style: italic;
}

.content_button{
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.button{
    background-color:  rgb(77,72,52);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}