.header{
    height: 100px;
    width: 100%;
    position: relative; 
    background-color: rgb(77, 72, 52);

}

.headder_texture{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: 1;
    

}

.header_navig{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.header_navig--logo-title{
    font-size: 28px;
    color: white;
    font-family: 'nunito';
}



.header_navig--menu{
    position: relative;
    display: inline-block;
    color: white;
    margin-right: 5%;
}

.menu{
   margin-left: 25px;
   font-family: 'nunito';
}

.header_navig--menu-content{
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    width: 200px;
    min-width: 160px;
    padding: 12px 3px;
    z-index: 1;
    background-color: rgb(77, 72, 52) ;
}

.link_menu{
    text-decoration: none;
    color: white;
    text-align: left;
    
}

.link_menu:hover{
    text-decoration: underline;
}

.header_navig--menu:hover .header_navig--menu-content{
    display: block;
}

h1{
    text-decoration: none;
}