.content{
    margin: 50px 30px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.intro{
    font-size: 25px;
    margin:50px 30px;
}

table, td, th{
    border: solid black 1px;
    border-collapse: collapse;
}

td,th{
    padding: 10px 30px;
}

.content_tableau-windows{
    display: flex;
    width: 500px;
    margin-bottom: 30px;
    flex-direction: column;    
}

.content_tableau-linux{
    display: flex;
    width: 500px;
    margin-bottom: 30px;
    flex-direction: column;
}

.windows{
    display: flex;
}

.linux{
    display: flex;
}

.table_windows{
    display: flex;
}

.table_linux{
    display: flex;
}

.conclusion{
    font-size: 25px;
    margin:50px 30px;
}

.content_button{
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.button{
    background-color:  rgb(77,72,52);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}