.content{
    font-family: 'nunito';
    margin: 50px 30px;
    
}

.content_button{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color:  rgb(77,72,52);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}

.button_no{
    background-color:  rgb(138, 136, 125);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}

.content_intro{
    margin-top: 100px;
    font-size: 25px;
    justify-content: justify;
}

.histoire_microsoft{
    margin-top: 60px;
    
}

.image_microsoft{
    display: flex;
    height: 100px;
    width:100px;
    float: left;
    margin-right: 10px;
}

.story_text{
    justify-content: justify;
}

.titre_evol{
    text-align: center;
    margin: 30px 0;

    
}

.evolution{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.windows1 .pict1 { 
    display: flex;
    width: 500px;
    height: 300px;
}



.windows10 .pict10{
    display: flex;
    width: 500px;
    height: 300px;
}