.content{
    margin:50px 30px;
    font-family: 'nunito';
    font-size: 25px;

}

.story_text{
    position:relative;
}

.list_distrib{
    list-style: none;
    margin-left: 20%;
    list-style-type:'- ';
    position: relative;
}



.image_tux{
    display: flex;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 10px;

}


.tooltip {             /* ce sont pour les infos bulle */
    font-size: 25px;
    position: relative;
    display: inline-block;
    font-style: italic;
    text-decoration: underline;
}

.tooltip .tooltiptext {
    font-style: normal;
    visibility: hidden;
    width: 300px;
    background-color: rgb(47, 46, 46);
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -175px;
}

.tooltip:hover{
    text-decoration:none; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(47, 46, 46) transparent;
  }


  .distribs{   
      display: block;
      float: right;
      
  }

  figcaption{      /* Legende image*/
      font-size: initial;
  }
  
  .dis{
      height:275px;
  }

  .content_button{
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    
    background-color:  rgb(77,72,52);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}
