.content{
    margin: 50px 30px;
}

.content_text{
    font-family: 'nunito';
    font-size: 25px;
}

.content_img{
    display: flex;
    justify-content: center;
}

.img{
    width: 500px;
    height:400px;
    border-radius: 120px;
}